In [ ]:
sum = 0
i = 1
while i <= 50:
    sum = sum + i
    i += 1
    print("Summation: ", sum)

Summation:  1
Summation:  3
Summation:  6
Summation:  10
Summation:  15
Summation:  21
Summation:  28
Summation:  36
Summation:  45
Summation:  55
Summation:  66
Summation:  78
Summation:  91
Summation:  105
Summation:  120
Summation:  136
Summation:  153
Summation:  171
Summation:  190
Summation:  210
Summation:  231
Summation:  253
Summation:  276
Summation:  300
Summation:  325
Summation:  351
Summation:  378
Summation:  406
Summation:  435
Summation:  465
Summation:  496
Summation:  528
Summation:  561
Summation:  595
Summation:  630
Summation:  666
Summation:  703
Summation:  741
Summation:  780
Summation:  820
Summation:  861
Summation:  903
Summation:  946
Summation:  990
Summation:  1035
Summation:  1081
Summation:  1128
Summation:  1176
Summation:  1225
Summation:  1275

In [ ]:
number = 15
while number <= 30:
    print(number)
    number += 1

15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
number = 50
sum = 0
while number <= 100:
  sum = sum + number
  number +=1
  print("Summetion: ",sum)

Summetion:  50
Summetion:  101
Summetion:  153
Summetion:  206
Summetion:  260
Summetion:  315
Summetion:  371
Summetion:  428
Summetion:  486
Summetion:  545
Summetion:  605
Summetion:  666
Summetion:  728
Summetion:  791
Summetion:  855
Summetion:  920
Summetion:  986
Summetion:  1053
Summetion:  1121
Summetion:  1190
Summetion:  1260
Summetion:  1331
Summetion:  1403
Summetion:  1476
Summetion:  1550
Summetion:  1625
Summetion:  1701
Summetion:  1778
Summetion:  1856
Summetion:  1935
Summetion:  2015
Summetion:  2096
Summetion:  2178
Summetion:  2261
Summetion:  2345
Summetion:  2430
Summetion:  2516
Summetion:  2603
Summetion:  2691
Summetion:  2780
Summetion:  2870
Summetion:  2961
Summetion:  3053
Summetion:  3146
Summetion:  3240
Summetion:  3335
Summetion:  3431
Summetion:  3528
Summetion:  3626
Summetion:  3725
Summetion:  3825

In [ ]:
i = 1
while i <= 20:
    if not (i % 2):
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
n = int(input("Enter a number: "))
factorial = 1
i = 1

while i <= n:
    factorial *= i
    i += 1

print(f"The factorial of {n} is: {factorial}")

Enter a number: 20
The factorial of 20 is: 2432902008176640000

In [ ]:
n = int (input ("Enter a number: "))
sum = 0
while n>0:
  d = n % 10
  n //= 10
  sum += d
print(sum)

Enter a number: 34567
25

In [ ]:
A = [36, 69, 24, 32, 45, 73]
print(A)
print(A[2])
A[3] = A[2]
A[1] += 10
print(A)

A[1] += 10
print(A)

[36, 69, 24, 32, 45, 73]
24
[36, 79, 24, 24, 45, 73]
[36, 89, 24, 24, 45, 73]

In [ ]:
A = [36, 69, 24, 32, 45, 73]
i = 0
while i <= len(A)/2:
    A[i], A[len(A)-i-1] = A[len(A)-i-1], A[i]
    i +=1
print(A)

[73, 45, 24, 32, 69, 36]

In [ ]:
A = [36, 69, 24, 32, 45, 73]
max = A[0]
i = 1

while i < len(A):
    if max < A[i]:
        max = A[i]
    i += 1

print(max)

73

In [ ]:
while True:
  line = input('>')
  if line == 'done':
    break
    print(line)

>hello
>hi
>done

In [ ]:
while True:
  line = input('>')
  if line[0] == '#':
    continue
  if line == 'done':
    break
    print(line)

>Hello
># don't do this
>how are you?
>done

In [ ]:
A = [36, 69, 24, 32, 45, 73]
i = 0
while i < len(A):
    if A[i] < 0:
        break
    else:
        print(A[i])
    i += 1

36
69
24
32
45
73